@import "../../../../../../common/styles/sass/variables";
@import "../../../../../../common/styles/sass/mixins";


.blockWithItemLine {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  min-width: 140px;
  box-sizing: border-box;

  .buttonsBlock {
    position: relative;

    .createRow {
      @include buttonIcon();
      z-index: 10;

      &_hasparent {
        position: relative;

        &::before {
          position: absolute;
          content: "";
          width: 14px;
          border-bottom: solid white 1px;
          top: 12px;
          left: -9px;
        }
      }
    }

    .delRow {
      @include buttonIcon();
      z-index: 10;
      display: none;
    }

    .buttonsContainer {
      display: flex;
      padding: 5px;
      border-radius: 5px;

      &:hover {
        background-color: $borderColor;

        & .delRow {
          display: block;
        }
      }
    }

    .editable{

      &:hover {
        background-color: transparent;

        & .delRow {
          display: none;
        }
      }
    }


    .leftLine {
      position: absolute;
      content: '';
      width: 1px;
      background-color: white;
      top: 18px;
      left: 15px;
    }
  }
}