@import "../../common/styles/sass/variables";
@import "../../common/styles/sass/mixins";

.ProjectWorksContainer {
  width: 100%;
  height: 100%;
  background-color: $bgColorSecond;

  .ProjectWorksTableContainer{
    border-radius: 0;
    border: none;
    box-shadow: none;

    .ProjectWorksTable {
      @include text(14px, $textColor);
      background-color: $bgColorSecond;
      padding: 12px;
      width: 100%;
      height: 100%;

      .tableBody{
        @include text(14px, $textColor);

        th{
          @include text(14px, $textColor);
          border-bottom: 1px solid $borderColor;
          height: 59px !important;
          margin: 0;
          padding: 0;
        }
      }
    }
  }
}
