@import "../common/styles/sass/variables";
@import "../common/styles/sass/mixins";

.app {
  background-color: $bgColor;
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  .headerBlock{
    height: 44px;
    border-bottom: 1px solid $borderColor;
  }

  .mainBlock {
    height: calc(100vh - 45px);
    display: flex;
    flex-direction: row;
  }
}